astroid==4.0.4
colorama==0.4.6
dill==0.4.1
dnspython==2.8.0
iniconfig==2.3.0
isort==8.0.1
mccabe==0.7.0
packaging==26.2
platformdirs==4.10.1
pluggy==1.6.0
Pygments==2.20.0
pylint==4.0.6
pymongo==4.17.0
pytest==9.1.1
tomlkit==0.15.1
